<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    
    <!--<ion-list>
      <ion-item>
        <ion-avatar item-end>
          <img src="../../assets/imgs/Avatar2.png">
        </ion-avatar>
      </ion-item>
    </ion-list>
    -->
    
  </ion-navbar>
</ion-header>

<ion-content padding >
  <ion-grid text-center>
    <ion-row>
      <ion-col col-4>
        PREÇO DO TIME <br> <b>Z$149.09</b>
      </ion-col>

      <ion-col col-4>
         MERCADO <br> <b>FECHADO</b>
        </ion-col>

        <ion-col col-4>
            PARCIAL <br> 89.57 pts
          </ion-col>
    </ion-row>

    <br>
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col col-4>
            <img src="../../assets/imgs/logo.png">
          </ion-col>

          <ion-col col-8>
            <b>ZLeague Pro</b>
            <br>
            <p>Quer ter mais ligas, mais opções de personalização e concorrer a prêmios toda rodada?</p>
            <br><br>

            <button ion-button clear color="primary">Saiba Mais</button>
          </ion-col>
        </ion-row>

      </ion-grid>
    </ion-card>
    

    <br>

    <ion-card><!--Visialização da pontuação, os jogadores que pontuaram e configuração para alterar o time-->
      <ion-row>
        <ion-col col-1 item-start>
          <ion-icon name="cog"></ion-icon>
        </ion-col>
        <ion-col col-11>
          <img src="../../assets/imgs/Avatar2.png">
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-6>
          <p>PARCIAL</p>
          <br>
          <p>89.57</p>
        </ion-col>

        <ion-col col-6>
          <p>JOG.PONT.</p>
          <br>
          <p>3/5</p>
        </ion-col>
      </ion-row>
    </ion-card><!--Fim do ION-CARD-->

    <br><br>

    <ion-card text-center>
      <p><b>TIME EM CAMPO</b></p>
      <br>
      <p>Pontuação pode alterar até o fim da rodada</p>
      <br><br>
      <p>SUA PARCIAL</p>
      <br>
      <p>89.57</p>
      <br><br>
      <button ion-button item-start clear color="primary">
        <ion-item>
          <ion-icon name="refresh"></ion-icon>
        </ion-item>
        <p>ATUALIZAR PARCIAIS</p>
      </button>
    </ion-card>
    <br><br>

    <p text-center>MEUS PONTUADORES</p>
    <br>
    <ion-card text-center>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            MAIOR PONTUADOR
            <br>
            <img src="../../assets/imgs/Avatar1.png">
            <br>
            <p>Flash</p>
            <br>
            <p>Middle</p><!--Função dentro do jogo-->
            <br>
            <p>13.00</p><!--Pontuação-->
          </ion-col>

          <ion-col col-6>
              MENOR PONTUADOR
              <br>
              <img src="../../assets/imgs/Avatar1.png">
              <br>
              <p>Superman</p>
              <br>
              <p>TOP</p><!--Função dentro do jogo-->
              <br>
              <p>5.40</p><!--Pontuação-->
            </ion-col>
          </ion-row>
        </ion-grid>
    </ion-card>
  </ion-grid>
</ion-content>
