<!--
  Generated template for the ModalPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>modal</ion-title>
  </ion-navbar>

  <ion-buttons end>
    <button ion-button>
      <ion-icon name="close" (click)="fechar()"></ion-icon>
    </button>
  </ion-buttons>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-card>
      <ion-col>
        <ion-row>
          <img src="../../assets/imgs/brasao1.png" col-3>

          <img src="../../assets/imgs/Avatar1.png" col-3>

          <ion-col col-3>
            <ion-row>
              <p text-center>{{apelido}}</p>
            </ion-row>

            <br><br>
            <ion-row>
              <p>{{posicao}}</p>
            </ion-row>
          </ion-col>

          <button ion-button primary id="btn-escalar">COMPRAR</button>
        </ion-row>
      </ion-col>
    </ion-card>
  </ion-grid>
</ion-content>