page-modal {
    #img_time{
        margin-right: 5px;
        margin-left: 5px;
    }
    img{
        width: 60px;
        height: 100%;
    }

    p{
        text-align: center;
    }

    #btn-escalar{
        margin-top: 35px;
        height: 60px;
        width: 120px;
        margin-right: 5px;
    }
}
