<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Perfil</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>

      <button ion-button icon-right (click)="onTakePicture()">
        Take Picture <ion-icon name="camera"></ion-icon>
      </button>

      <img *ngIf="image" [src]="domSanitizer.bypassSecurityTrustUrl(image)" />

    </ion-card-content>
  </ion-card>
</ion-content>