<ion-header>
  <ion-navbar  color='primary'>
    <ion-title>
      Ionic + Firebase
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngIf="user != null">
    <button ion-button block (click)="home()">Dashboard</button>
    <button ion-button block  (click)="Sair()">Sair</button>
  </div>

  <div *ngIf="user == null">
    <br>
    <h3>Login / Cadastro</h3>
    <ion-item>
      <ion-label floating><ion-icon name='person'></ion-icon> Usuário</ion-label>
      <ion-input type="text" #usuario></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating><ion-icon name='lock'></ion-icon> Senha </ion-label>
      <ion-input type="password" #senha></ion-input>
    </ion-item>
    <br>
    <button ion-button block  (click)="LoginComEmail()">Login</button>
    <button ion-button block  (click)="cadastrarUsuario()">Cadastrar</button>
  </div>
</ion-content>
