<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>Escalacao</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid text-center>
    <ion-row>
      <ion-col col-4>
        PREÇO DO TIME <br> <b>Z$0.00</b>
      </ion-col>

      <ion-col col-4>
         MERCADO FECHA EM <br> <b>3 DIAS</b>
        </ion-col>

        <ion-col col-4>
            VOCÊ AINDA TEM <br> <b>Z$ 100.00</b>
          </ion-col>
    </ion-row>
  </ion-grid>

  <br>

  <!--<ion-grid>
    <ion-row no-padding icon-right>
      <ion-col col-6>        
        <button ion-button clear large><ion-icon name="clipboard" ></ion-icon></button>
        <button ion-button clear large><ion-icon name="shirt"></ion-icon></button>
      </ion-col>
    </ion-row>
  </ion-grid>
   -->

  <br>

  <ion-grid> <!--Campo para o cyber-atleta Top-->
    <ion-card>
      <ion-row>
        <ion-col col-2>
          <img src="../../assets/imgs/Avatar1.png">
        </ion-col>

        <ion-col col-8>
          <p>TOP</p>
        </ion-col>

        <ion-col col-2>
          <button ion-button clear color="secondary" large (click)="openModal('TOP')"><ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid><!--Fim do Campo para o cyber-atleta Top-->

  <ion-grid> <!--Campo para o cyber-atleta MID-->
    <ion-card>
      <ion-row>
        <ion-col col-2>
          <img src="../../assets/imgs/Avatar1.png">
        </ion-col>

        <ion-col col-8>
          <p>MID</p>
        </ion-col>

        <ion-col col-2>
          <button ion-button clear color="secondary" large (click)="openModal('MID')"><ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid><!--Fim do Campo para o cyber-atleta MID-->

  <ion-grid> <!--Campo para o cyber-atleta BOT-->
    <ion-card>
      <ion-row>
        <ion-col col-2>
          <img src="../../assets/imgs/Avatar1.png">
        </ion-col>

        <ion-col col-8>
          <p>BOT</p>
        </ion-col>

        <ion-col col-2>
          <button ion-button clear color="secondary" large (click)="openModal('BOT')"><ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid><!--Fim do Campo para o cyber-atleta BOT-->

  <ion-grid> <!--Campo para o cyber-atleta BOT2-->
    <ion-card>
      <ion-row>
        <ion-col col-2>
          <img src="../../assets/imgs/Avatar1.png">
        </ion-col>

        <ion-col col-8>
          <p>BOT</p>
        </ion-col>

        <ion-col col-2>
          <button ion-button clear color="secondary" large (click)="openModal('BOT')"><ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid><!--Fim do Campo para o cyber-atleta BOT2-->

  <ion-grid> <!--Campo para o cyber-atleta Jungle-->
    <ion-card>
      <ion-row>
        <ion-col col-2>
          <img src="../../assets/imgs/Avatar1.png">
        </ion-col>

        <ion-col col-8>
          <p>JUNGLE</p>
        </ion-col>

        <ion-col col-2>
          <button ion-button clear color="secondary" large (click)="openModal('JUNGLE')"><ion-icon name="add-circle"></ion-icon></button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-grid><!--Fim do Campo para o cyber-atleta jungle-->

  <br><br>

  <button ion-button color="secondary" full>CONFIRMAR ESCALAÇÃO</button>
  <br>
  <button ion-button color="danger" full>VENDER TODO O TIME</button>
</ion-content>
