<ion-header>

  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Ligas</ion-title>

    
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col col-6 text-center>
        <BUTTON clear ion-button (click)="liga()">SUAS LIGAS</BUTTON>
      </ion-col>

      <ion-col col-6 text-center>
        <button clear ion-button (click)="mercado()">MERCADO</button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <br>
  <ion-grid *ngIf="showCompLiga">
      <p text-center>LIGAS CLÁSSICAS(0/1)</p>

      <button ion-button text-center>Criar Liga clássica</button>

  
  <br>


    <p text-center>LIGAS DO ZLeague</p>
    <br>

    <ion-row><!--Liga Nacional-->      
        <ion-col col-4>
          <img src="../../assets/imgs/brasao3.png">
        </ion-col>

        <ion-col col-8>
          <button ion-button clear>
          <p>NACIONAL<br></p>
          
          
        </button>
        <p>8433664 Participantes</p>
        </ion-col>
     
    </ion-row><!--Fim da Liga Nacional-->

    <ion-row><!--Liga por patrimônio-->      
      <ion-col col-4>
        <img src="../../assets/imgs/brasao2.png">
      </ion-col>

      <ion-col col-8>
        <button ion-button clear>
        <p>PATRIMÔNIO</p>
                
      </button>
      <p>8433664 Participantes</p>
      </ion-col>
   
    </ion-row><!--Fim da Liga por patrimônio-->

    <ion-row><!--Liga do Time do coração-->      
      <ion-col col-4>
        <img src="../../assets/imgs/brasao1.png">
      </ion-col>

      <ion-col col-8>
        <button ion-button clear>
        <p>PAIN GAMING</p>
               
      </button>
      <p>8433664 Participantes</p>
      </ion-col>
   
    </ion-row><!--Fim da Liga por patrimônio-->
  </ion-grid>

  <!--Este trecho de código refere-se a parte do mercado-->
  <ion-grid *ngIf="showCompMercado">
    <br>
    <p text-center>DESTAQUES</p>
    <br>    

    <ion-row ><!---->      
      <ion-col col-2>
        <img src="../../assets/imgs/brasao3.png">
      </ion-col>

      <ion-col col-7>
        <button ion-button clear>
        <p>ZLeague PRO<br></p>
        
        
      </button>
      <p>Patrocinada | 423733 Participantes</p>
      </ion-col>

      <ion-col col-3>
        <button small ion-button color="Default">
          <p>VER LIGA</p>
        </button>
      </ion-col>
   
  </ion-row><!---->

  <p text-center>ÚLTIMAS CRIADAS</p>
    <br>

  <ion-row>
    <ion-col col-2>
      <img src="../../assets/imgs/logo.png">
    </ion-col>

    <ion-col col-7>
      <p><b>A última do ano</b></p>
     
      <p>Mata-mata | Aberta</p>
    </ion-col>

    <ion-col col-3>
      <button small  ion-button>PARTICIPAR</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-2>
      <img src="../../assets/imgs/logo.png">
    </ion-col>

    <ion-col col-6>
      <p><b>murilo júnior</b></p>
     
      <p>Mata-mata | Fechada</p>
    </ion-col>

    <ion-col col-4>
      <button small  clear ion-button>SÓ CONVIDADOS</button>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col col-2>
      <img src="../../assets/imgs/logo.png">
    </ion-col>

    <ion-col col-7>
      <p><b>Liga Rio Branco</b></p>
     
      <p>Mata-mata | Moderada</p>
    </ion-col>

    <ion-col col-3>
      <button small ion-button>SOLICITAR</button>
    </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>
